---
import '../css/style.css';
import MainLayout from '../layouts/MainLayout.astro';
import SearchForm from '../components/SearchForm.astro';
import { HOMEPAGE_ARTICLE_LIMIT } from '../constants';
import MostRecentArticle from '../components/MostRecentArticle.astro';


import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import ArticleCard from '../components/ArticleCard.astro';


const allBlogArticles: CollectionEntry<'blog'>[] = (
  await getCollection('blog')
).sort(
  (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const mostRecentArticle: CollectionEntry<'blog'> = allBlogArticles[0];

const otherArticles: CollectionEntry<'blog'>[] = allBlogArticles.slice(1);
---

<MainLayout>
  
  <!-- ============================================ -->
  <!--                    Hero                      -->
  <!-- ============================================ -->

  <section id='hero-856'>
    <div class='cs-container'>
      <div class='cs-content'>
        <h1 class='cs-title'>Header For Blog</h1>
        <p class='cs-text'>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
          unde id saepe quo. Est, ea! Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Id, provident? Lorem ipsum dolor sit amet
          consectetur adipisicing.
        </p>

        <SearchForm />
      </div>
      <!--Hero Image-->
      <!-- ============================================ -->
<!--                  Collection                  -->
<!-- ============================================ -->

<section id="collection-1552">
  <div class="cs-container">
      <ul class="cs-card-group">
          <li class="cs-item cs-item-offer">
              <div class="cs-text-wrapper">
                  <span class="cs-offer-tag">ONLY $20</span>
                  <h3 class="cs-h3">Selected Woman’s Wear</h3>
                  <span class="cs-item-text">Special seasonal offer of the month</span>
                  <a class="cs-button-solid" href="/">Shop Now</a>
                  <picture class="cs-background" aria-hidden="true">
                      <source media="(max-width: 600px)"
                              srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-womens-offer-m.png">
                      <source media="(min-width: 601px)"
                              srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-womens-offer.png">
                      <img loading="lazy" decoding="async"
                              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-womens-offer.png"
                              width="365" height="201">
                  </picture>
              </div>
          </li>
          <li class="cs-item">
              <a class="cs-category" href="/">T-Shirts</a>
              <picture class="cs-background" aria-hidden="true">
                  <source media="(max-width: 600px)"
                          srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-tshirts.png">
                  <source media="(min-width: 601px)"
                          srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-tshirts.png">
                  <img loading="lazy" decoding="async"
                          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-tshirts.png"
                          width="365" height="201">
              </picture>
          </li>
          <li class="cs-item">
              <a class="cs-category" href="/">Bags</a>
              <picture class="cs-background" aria-hidden="true">
                  <source media="(max-width: 600px)"
                          srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-bags.png">
                  <source media="(min-width: 601px)"
                          srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-bags.png">
                  <img loading="lazy" decoding="async"
                          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-bags.png" width="365"
                          height="201">
              </picture>
          </li>
          <li class="cs-item">
              <a class="cs-category" href="/">Shoes</a>
              <picture class="cs-background" aria-hidden="true">
                  <source media="(max-width: 600px)"
                          srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-shoes.png">
                  <source media="(min-width: 601px)"
                          srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-shoes.png">
                  <img loading="lazy" decoding="async"
                          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-shoes.png"
                          width="365" height="201">
              </picture>
          </li>
          <li class="cs-item">
              <a class="cs-category" href="/">Accessories</a>
              <picture class="cs-background" aria-hidden="true">
                  <source media="(max-width: 600px)"
                          srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-accessories.png">
                  <source media="(min-width: 601px)"
                          srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-accessories.png">
                  <img loading="lazy" decoding="async"
                          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-offer-accessories.png"
                          width="365" height="201">
              </picture>
          </li>
      </ul>
  </div>
</section>
                              
    </div>
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
    <!-- <svg
      class='cs-wave'
      width='1920'
      height='179'
      viewBox='0 0 1920 179'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
    >
      <path
        fill-rule='evenodd'
        clip-rule='evenodd'
        d='M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z'
        fill='white'></path>
    </svg> -->
  </section>

  <hr class='mt-4 mb-10' />
  <!-- Top Grid -->
  <div class='mt-10 grid grid-cols-1 gap-5 lg:grid-cols-2'>
    <div class='flex items-center'>
      

      <div class='cs-content'>
        <span class='cs-topper'>Article Of The Week</span>
        <h2 class='cs-title' style="color:var(--primary);">Directly from The Latest News and Articles</h2>
        <p class='cs-text'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          lobortis quam eu elit lobortis ultrices. Nulla ut accumsan lorem, sed
          molestie justo. Praesent vehicula eleifend.
        </p>
      </div>
    </div>

    <!-- Most Recent Article -->
   <MostRecentArticle article={mostRecentArticle}/>
  </div>

  <!-- Main Grid -->
 <div class="cs-container" id="blog-1347">
  <div class="cs-content">
    <div class='cs-card-group'>
      {
        otherArticles
          .slice(0, HOMEPAGE_ARTICLE_LIMIT)
          .map(article => (
          <ArticleCard article={article} />
          ))
      } 
     
    
    </div>
  </div>
 </div>
</MainLayout>
