---
import { formatDate } from "../utils";
import type { CollectionEntry } from "astro:content";
import Tags from "./Tags.astro";


const { article } = Astro.props;

interface Props {
  article: CollectionEntry<'blog'>;
}
---




<li class='cs-item'>
  <a class='cs-link' href={'/articles/' + article.slug}>
    <picture class='cs-picture'>
      <source
        media='(max-width: 600px)'
        srcset={'/images/' + article.data.image}
      />
      <source
        media='(min-width: 601px)'
        srcset={'/images/' + article.data.image}
      />
      <img
        decoding='async'
        src={'/images/' + article.data.image}
        alt='agency'
        width='413'
        height='374'
        aria-hidden='true'
      />
    </picture>
    <div class='cs-item-text'>
      <h3 class='cs-h3'>
        <a href={'/articles/' + article.slug}>{article.data.title}</a>
        <picture class='cs-icon-wrapper'>
          <img
            class='cs-icon'
            decoding='async'
            src='https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg'
            alt='arrow'
            width='413'
            height='374'
            aria-hidden='true'
          />
        </picture>
      </h3>
      <div class='cs-info'>
        <span class='cs-date'>
          <img
            class='cs-date-icon'
            decoding='async'
            src='https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-calendar.svg'
            alt='calendar'
            width='413'
            height='374'
            aria-hidden='true'
          />
          {formatDate(article.data.pubDate)}
        </span>
        <Tags tags={article.data.tags}/>
      </div>
    </div>
  </a>
 
</li>